Debug
Release
*.libs
*.a
*.al
*.bak
*.d
*.dll
*.exe
*.idb
*.la
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.pdb
*.pyc
*.pyo
*.rej
*.so
*.suo
*.tif
*.zip
*.so.[0-9]*
*~
#*#
.#*
.*.swp
.DS_Store
/KKBase/*.user
/KKBase/*.user
*.user
/OutsidePackages
/Doxygen/html
Backup
TEMP_BaseLibrary


*.pdom
.metadata/.plugins/org.eclipse.core.resources/.history/e6/60fc5ddf64610014184aa2bac530446a
.metadata/.plugins/org.eclipse.core.resources/.history/e8/80ad1f8365610014142fd102aadf5211
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/KKBase/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/KKBase/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/KKBase/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/KKBase_2015-03-20
/.metadata
